@model IEnumerable<AnimalCrossing.Models.CatDate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


   

    <div class="container">
    <div class="row">
        @foreach (var item in Model) {
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card-body">

                    <h3 class="card-text">@item.HostCat.Name</h3>
                    <img src=@item.HostCat.ProfilePicture class="card-img-top" alt="...">

                    <h3 class="card-text">@item.GuestCat.Name</h3>
                    <img src=@item.GuestCat.ProfilePicture class = "card-img-top" alts ="..." />
                    <p class="card-text">@item.Location</p>
                    <p class="card-text">@item.DateTime</p>
                    <a class="btn btn-primary" asp-controller="CatDate"  asp-action="Edit" asp-route-id="@item.CatDateId">Edit</a> 
                    <a class="btn btn-primary" asp-controller="CatDate"  asp-action="Details" asp-route-id="@item.CatDateId">Details</a> 
                    <a class="btn btn-primary" asp-controller="CatDate"  asp-action="Details" asp-route-id="@item.CatDateId">Delete</a> 
                </div>
                </div>
            }
        </div>
    </div>
